# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.elf
*.bin
*.hex
*.lst
*.rd
*.map

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.user
*.jdebug.user
*.jdebug

# Dependency files
*.d

# Text editor configuration
.idea/
.cache/
.vscode/
.settings/
.history/
*.sublime-workspace

# Patch cache
*.orig

# Build directory
build/
compile_commands.json
.ccls-cache
.vagrant

# cubeMX files
.mxproject
.project

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Application specific files
venv
node_modules
.sass-cache

# Specific for this project
/0_Hardware/production
0_Hardware/Logger-backups/
0_Hardware/*.csv
0_Hardware/*.xml
0_Hardware/*.lck
0_Hardware/*.kicad_prl
0_Hardware/fp-info-cache
0_Hardware/plugins
1_SoftWare/build/
1_SoftWare/.vscode/

*.wrl
0_Hardware/#auto_saved_files#
0_Hardware/_autosave-Logger.kicad_sch
0_Hardware/_autosave-Logger.kicad_pcb
4_lvgl_simulator/bin/
